<form class="{{cssClass}}  flexcol" autocomplete="off">
<input id="captured" type="checkbox" name="system.captured" {{checked actor.system.captured}} data-dtype="Boolean">
<label for="captured"> captured?</label>
</form>