.warhammer {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
  --faction-color: darkgreen;
  --header-height: 150px;
}
.warhammer.sheet .window-content{
  background: #dfe0e2;
  padding: unset;
}
.warhammer.sheet.actor nav.sheet-tabs{
  /*border: 0;*/
  flex: unset;
  background: var(--faction-color);
  margin: unset;
  border: 0;
}

.warhammer.sheet.actor nav{
  position: sticky;
  top: var(--header-height);
  z-index: 999;
}


.warhammer.sheet.actor .tabs .item.active, .warhammer.sheet.actor .tabs .item:hover{
  background: #dfe0e2;
  color: var(--faction-color);
  text-shadow: unset;
}
.warhammer.sheet.actor .tabs .item{
  width: 33%;
  text-transform: uppercase;
  clip-path: polygon(100% 0,100% 0%,80% 100%,0 100%,0 100%,20% 0);
  color: white;
  font-weight: bold;
}

.warhammer.sheet header.sheet-header{
  align-items: unset;
  flex: unset;
}
.warhammer.sheet.actor header.sheet-header{
  z-index: 1;
  height: var(--header-height);
}
.warhammer.sheet .editor{
  min-height: 50px;
  white-space: pre-wrap;
}
.warhammer.sheet .editor.prosemirror{
  height: 250px;
}
.warhammer.sheet details .editor{
  min-height: unset;
}

.warhammer.sheet.actor header.sheet-header h1 input {
  height: 27px;
  border: unset;
  background: unset;
  color: #dfe0e2;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: .1rem;
  line-height: 2.5rem;
  font-family: ui-serif;
}
.warhammer.sheet.actor .header-fields{
  position: relative;
  color: #dfe0e2;
  left: 5%;
}
.warhammer.sheet.actor .profile-img, .warhammer.sheet img {
  border: unset;
  position: relative;
  height: unset;
  max-height: var(--header-height);
}
.warhammer.sheet.actor .profile-img{
  position: absolute;
  right: 0;
}
.warhammer.sheet.actor .stats {
  display: flex;
  text-align: center;
  font-size: large;
}

.warhammer.sheet.actor .stats .col {
  padding-left: 7px;
}
.warhammer.sheet.actor .sheet-header {
  background: black;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.warhammer.sheet.actor .value {
  display: flex;
  align-items: center;
  background: var(--faction-color);
  position: relative;
  width: 44px;
  height: 44px;
  color: var(--faction-color);
  clip-path: polygon(100% 0,100% 75%,75% 100%,0 100%,0 25%,25% 0);
  border: var(--faction-color);
}

.warhammer.sheet.actor .value > input, .warhammer.sheet.actor .val-and-max > input{
  display: flex;
  align-items: center;
  background: #dfe0e2;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 40px;
  height: 40px;
  color: var(--faction-color);
  clip-path: polygon(100% 0,100% 75%,75% 100%,0 100%,0 25%,25% 0);
  border: var(--faction-color);
}

.warhammer.sheet.actor .val-and-max > input{
  position: unset;
}
.warhammer.sheet.actor .val-and-max-container {
  display: flex;
  align-items: center;
  background: var(--faction-color);
  position: relative;
  width: 88px;
  height: 44px;
  color: var(--faction-color);
  clip-path: polygon(100% 0,100% 75%,87% 100%,0 100%,0 25%,12% 0);
  border: var(--faction-color);
}

.warhammer.sheet.actor .val-and-max-container > .val-and-max {
  display: flex;
  align-items: center;
  background: #dfe0e2;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 84px;
  height: 40px;
  color: var(--faction-color);
  clip-path: polygon(100% 0,100% 75%,87% 100%,0 100%,0 25%,12% 0);
  border: var(--faction-color);
}

.warhammer.sheet.actor header.sheet-header::before {
  background-color: var(--faction-color);
  content: "";
  height: 90px;
  left: 5%;
  position: absolute;
  /*top: 32px;*/
  width: 95%;
  clip-path: polygon(0 0,0 100%,360px 100%,410px 50%,100% 50%,100% 0)
}

.warhammer.sheet.actor .side-frill {
  background-color: var(--faction-color);
  height: calc(100% - 30px);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 92px;
  clip-path: polygon(0 0,0 100%,100% 100%,100% calc(100% - 80px),5px calc(100% - var(--header-height)),5px 0);
  transform: scaleX(-1);
}

.warhammer.sheet.actor input:focus {
  box-shadow: unset;
}
.warhammer.sheet.actor .rollable:hover, .selectable-target-name:hover {
  text-shadow: 0 0 5px var(--color-shadow-primary);
}

.warhammer.sheet.actor .item-name, .warhammer.sheet.item .item-name {
  text-align: left !important;
  width: 40%;
}
.warhammer.sheet.actor .item-table > tbody > tr > td, .warhammer.sheet.item .item-table > tbody > tr > td{
  text-align: center;
  vertical-align: top ;
}
.warhammer.sheet.actor .table-icon, .warhammer.sheet.item .table-icon {
  text-align: center;
  filter: invert(87%) sepia(100%) saturate(0) hue-rotate(303deg) brightness(104%) contrast(101%);
}
.warhammer.sheet.actor .item-table > tbody > tr > th, .warhammer.sheet.item .item-table > tbody > tr > th {
  background: var(--faction-color);
  color: #dfe0e2;
}

.warhammer.sheet.actor .bottom {
  position: absolute;
  border: var(--faction-color) 2px solid;
  bottom: 0;
  display: inline-flex;
  align-items: center;
  width: 100%;
  background: #dfe0e2;
}

.warhammer.sheet.actor .faction, .warhammer.sheet.actor .tags {
  border: var(--faction-color) 2px solid;
  display: contents;
}

.warhammer.sheet.actor .faction > label, .warhammer.sheet.actor .tags > label{
  text-transform: uppercase;
}

.warhammer.sheet.actor .faction > input, .warhammer.sheet.actor .tags > input{
  font-weight: bold;
  border: none;
  background: right;
}

.warhammer.sheet.actor .faction > input{
  max-width: fit-content;
}
.warhammer.sheet.actor .base{
  width: 92px;
  position: absolute;
  bottom: 30px;
  right: 0;
  border: var(--faction-color) 2px solid;
  border-bottom: 0;
  background: #dfe0e2;
}
.warhammer.sheet.actor .invuln{
  position: absolute;
  margin-top: 5px;
}
.warhammer.sheet.actor .invuln label{
  position: fixed;
  background: var(--faction-color);
  border-color: var(--faction-color);
  margin-left: -29px;
  border-left: 60px solid var(--faction-color);
  border-right: 10px solid var(--faction-color);
  margin-top: 10px;
  text-transform: uppercase;
}
.weapon-tag{
  background: white;
  font-weight: normal;
}

.warhammer.sheet.item .row{
  display: flex;
}


.unit-summary .weapon,
.unit-summary .units,
.unit-summary .targets
{
  font-weight: bold;
}
.unit-summary .dropped{
  color: gray;
  margin-left: 20px;
}
.chat-message.message tbody
{
  text-align: center;
}

.attack-dialog .row{
  display: flex;
}
.attack-dialog .col{
  display: inline-flex;
  align-items: center;
}
div.awesomplete {
  display: unset;
}

::-webkit-scrollbar{
  z-index: 100;
}